<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<Fragment>
		<!-- StandardDirectory entries provide mapping for shortcuts -->
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="InstallProgramMenuFolder" Name="Astrocelerate" />
		</StandardDirectory>
		<StandardDirectory Id="DesktopFolder" />

		<!-- Shortcuts -->
		<ComponentGroup Id="CustomShortcuts" Directory="INSTALL_ROOT">
			<Component Id="AppShortcut" Guid="*">
				<Shortcut Id="AppStartMenuShortcut"
						  Name="Astrocelerate"
						  Description="Astrocelerate Orbital Mechanics Engine"
						  Target="[#CM_CP_bin.Astrocelerate.exe]"
						  Directory="InstallProgramMenuFolder"
						  WorkingDirectory="INSTALL_ROOT" />
				<RemoveFolder Id="CleanUpShortCut" Directory="InstallProgramMenuFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\OrivietAerospace\Astrocelerate" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>

			<Component Id="AppDesktopShortcut" Guid="*">
				<Shortcut Id="DesktopShortcut"
						  Name="Astrocelerate"
						  Target="[#CM_CP_bin.Astrocelerate.exe]"
						  Directory="DesktopFolder"
						  WorkingDirectory="INSTALL_ROOT" />
				<RegistryValue Root="HKCU" Key="Software\OrivietAerospace\Astrocelerate" Name="desktop_icon" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>

</Wix>